<div class="commit-box">
    <img src="{{ gravatar(commit.author.email) }}" title="{{ commit.author.name }}" />
    <div class="content">
        <div class="sha visible-desktop">{{ commit }}</div>
        {% if link %}
            <a href="{{ path('commit', { slug: slug, sha: commit.sha }) }}">{{ commit.message }}</a>
        {% else %}
            {{ commit.message }}
        {% endif %}
        <div class="date author">{{ commit.author.name }} authored on {{ commit.datetimeAuthor.format('Y-M-d') }}</div>
    </div>
</div>