<div class="commit-box">
    <img src="{{ gravatar(commit.author.email, 60) }}" title="{{ commit.author.name }}" />
    <div class="content">
        <div class="sha visible-desktop">{{ commit }}</div>
        {% if link %}
            <a class="commit-message" href="{{ path('commit', { slug: slug, sha: commit.sha }) }}">{{ commit.message }}</a>
        {% else %}
            {{ commit.message }}
        {% endif %}
        <div class="date author"><strong>{{ commit.author.name }}</strong> authored on {{ commit.datetimeAuthor.format('F d, Y') }}</div>
    </div>
</div>