{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block body_container_main %}
    {% for flash_message in app.session.flashBag.get('repository', {}) %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    <h3>Public Git Repositories</h3>
    <ul class="repository_list">
        {% for repository in repositories %}
            {% if repository.imported %}
            <li><a href="{{ path('repository', { slug: repository.slug }) }}">{{ repository }}</a></li>
            {% else %}
            <li class="importing">{{ repository }} (importing)</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if userRepositories %}
        <h3>Your Imported Repositories</h3>
        <ul>
        {% for userRepository in userRepositories %}
            <li><a href="{{ path('repository', { slug: userRepository.slug }) }}">{{ userRepository }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block body_js %}
    {{ parent() }}
    {% javascripts '@home_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}