{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block body_container_main %}
    {% for flash_message in app.session.flashBag.get('repository', {}) %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    <div class="row-fluid homepage">
        <div class="span4">
            <h3>Hey there!</h3>
            <img class="pull-right hidden-phone" src="{{ asset('bundles/cypressgitelephanthost/images/git.png') }}" />
            <p><i class="icon-heart"></i> Thank you for visiting my demo site for GitElephant</p>
            <p>This website is powered by <a href="http://symfony.com">Symfony2</a>,
                <a href="http://backbonejs.org/">backbone.js</a>,
                <a href="http://twitter.github.com/bootstrap/">bootstrap</a>,
                <a href="http://compass-style.org/">compass</a>,
                <a href="https://github.com/matteosister/GitElephant">GitElephant</a> and some other nice libraries.
                If you want to contribute to GitElephant you are one click away, just
                <a href="https://github.com/matteosister/GitElephant">fork the repository on github</a></p>
            <p><strong>Happy git to everybody!</strong></p>
            <p>Click on a repository to start browsing.</p>
            <p class="muted"><small>Just for fun...</small></p>
        </div>
        <div class="span3">
            <h3>Git Repositories</h3>
            <ul class="repository_list">
                {% for repository in repositories %}
                    {% if repository.imported %}
                    <li>
                        <a href="{{ path('repository', { slug: repository.slug }) }}">
                            <i class="icon-chevron-right"></i> {{ repository }}
                        </a>
                    </li>
                    {% else %}
                    <li class="importing">{{ repository }} (importing)</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    {{ parent() }}
    {% javascripts '@home_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}