{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block head_title %}{{ path != '' ? path ~ ' at ' : '' }}{{ repository }} - {{ parent() }}{% endblock %}

{% block body_container_main %}
    <div class="row-fluid">
        {% include "CypressGitElephantHostBundle:Repository:tabs.html.twig" with { selected: 'code' } %}
    </div>
    <div class="bc">
        {% render "CypressGitElephantHostBundle:Repository:breadcrumb" with {slug: slug, ref: ref, path: path} %}
    </div>
    <div class="repository row-fluid" data-slug="{{ repository.slug }}" data-ref="{{ ref }}">
        {% render "CypressGitElephantHostBundle:Repository:tree" with {slug: slug, ref: ref, path: path} %}
    </div>
{% endblock %}

{% block branches %}
    <ul class="dropdown-menu">
        {% for branch in repository.branches %}
            <li><a href="{{ path('repository', { slug: repository.slug }) }}">{{ repository }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block body_js %}
    {{ parent() }}
    {% javascripts '@repository_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}