{% extends "CypressGitElephantHostBundle::base.html.twig" %}

{% block head_title %}{{ path != '' ? path ~ ' at ' : '' }}{{ repository }} - {{ parent() }}{% endblock %}

{% block body_container_main %}
    <div class="row-fluid">
        {% include "CypressGitElephantHostBundle:Repository:tabs.html.twig" with {
            selected: 'code', routeBase: 'repository', route: 'tree_object'
        } %}
    </div>
    <div class="bc">
        {{ render(controller('CypressGitElephantHostBundle:Repository:breadcrumb', {slug: repository.slug, ref: ref, path: path})) }}
    </div>
    <div class="repository row-fluid" data-slug="{{ repository.slug }}" data-ref="{{ ref }}">
        {{ render(controller('CypressGitElephantHostBundle:Repository:tree', {slug: repository.slug, ref: ref, path: path})) }}
    </div>
{% endblock %}

{% block branches %}
    <ul class="dropdown-menu">
        {% for branch in repository.branches %}
            <li><a href="{{ path('repository', { slug: repository.slug }) }}">{{ repository }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block body_js %}
    {% javascripts '@repository_js' output='js/compiled/repository.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}

{% block track_page_view %}{% endblock %}