{% set branch_tag_selector = branch_tag_selector is defined ? branch_tag_selector : true %}
<ul class="nav nav-tabs">
    {% if branch_tag_selector %}
        <li class="active branches">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ icon_for(repository.git.branchOrTag(ref)) }} {{ ref }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for branch in repository.git.branches %}
                        <li>
                            {% if 'master' == branch.name %}
                                <a href="{{ path(routeBase, { slug: repository.slug }) }}">{{ icon_for(branch) }} {{ branch.name }}</a>
                            {% else %}
                                <a href="{{ path(route, { slug: repository.slug, ref: branch.name }) }}">{{ icon_for(branch) }} {{ branch.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% set tags = repository.git.tags %}
                    {% if tags|length > 0 %}
                        <hr />
                        {% for tag in tags %}
                            <li><a href="{{ path(route, { slug: repository.slug, ref: tag.name }) }}">{{ icon_for(tag) }} {{ tag.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </li>
    {% endif %}
    <li {{ selected == 'code' ? 'class="active"' : '' }}>
        <a href="{{ path('repository', { slug: repository.slug }) }}">Code</a>
    </li>
    <li {{ selected == 'commits' ? 'class="active"' : '' }}>
        <a href="{{ path('commits', { slug: repository.slug }) }}">Commits</a>
    </li>
    <li class="pull-right">
        <span class="badge">{{ repository.git.countCommits(ref|default('master')) }} commits</span>
    </li>
</ul>