<ul class="nav nav-tabs">
    <li class="active branches">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{ icon_for(repository.git.branchOrTag(ref)) }} {{ ref }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for branch in repository.git.branches %}
                    <li>
                        {% if 'master' == branch.name %}
                            <a href="{{ path('repository', { slug: slug }) }}">{{ icon_for(branch) }} {{ branch.name }}</a>
                        {% else %}
                            <a href="{{ path('tree_object', { slug: slug, ref: branch.name }) }}">{{ icon_for(branch) }} {{ branch.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                {% set tags = repository.git.tags %}
                {% if tags|length > 0 %}
                    <hr />
                    {% for tag in tags %}
                        <li><a href="{{ path('tree_object', { slug: slug, ref: tag.name }) }}">{{ icon_for(tag) }} {{ tag.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </li>
    <li class="active">
        <a href="{{ path('repository', { slug: slug }) }}">Code</a>
    </li>
</ul>