<section data-path="{{ path }}">
    <header><img src="{{ gravatar(tree.getLastCommitAuthor.email) }}" title="{{ tree.getLastCommitAuthor(ref).name }}" /> {{ tree.getLastCommitMessage(ref) }}</header>
    <div class="content">
        <table class="table table-hover table-condensed {{ tree.blob ? 'content' : 'table-striped tree' }}">
            {% if tree.blob %}
                <tr class="content" data-commitid="{{ tree.blob.sha }}" data-path="{{ tree.blob.fullPath }}" data-type="content">
                    <td colspan="2">{{ output_content(tree.blob)|raw }}</td>
                </tr>
            {% else %}
                {% for treeObject in tree %}
                    <tr class="git {{ treeObject.type }}" data-commitid="{{ treeObject.sha }}" data-path="{{ treeObject.fullPath }}" data-type="{{ treeObject.type }}">
                        <td>
                            {% if 'tree' == treeObject.type %}
                                <i class="icon-folder-close"></i>
                            {% elseif 'blob' == treeObject.type %}
                                <i class="icon-file"></i>
                            {% endif %}
                            <a class="tree-object" href="{{ treeObject|link_tree_object }}">{{ treeObject }}</a>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</section>