{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_title %}GitElephant{% endblock %}

{% block head_css %}
    {{ parent() }}
    {% stylesheets filter="cssrewrite,?uglifycss" output="css/compiled/all.css"
        "bundles/cypressgitelephanthost/css/bootstrap/bootstrap.css"
        "bundles/cypressgitelephanthost/css/bootstrap/responsive.css"
        "bundles/cypressgitelephanthost/compass/stylesheets/screen.css" %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ path('pygments_bundle_style') }}" />
{% endblock %}

{% block body_container %}
    <div class="container-fluid">
        {% render "CypressGitElephantHostBundle:Home:header" with { standalone: true } %}
        {% block body_container_main %}{% endblock %}
    </div>
{% endblock %}

{% block body_js_jquery %}{% endblock %}

{% block body_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts '@main_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}